{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended", // uses the recommended rules from the @typescript-eslint/eslint-plugin
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "ignorePatterns": ["dist"],
  "rules": {
    "linebreak-style": ["warn", "unix"],
    "dot-notation": "warn",
    "eqeqeq": "warn",
    "curly": ["warn", "all"],
    "brace-style": ["warn"],
    "prefer-arrow-callback": ["warn"],
    "no-console": ["warn"], // use the provided Homebridge log method instead
    "lines-between-class-members": [
      "warn",
      "always",
      { "exceptAfterSingleLine": true }
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
