{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended", // Uses the recommended rules from the @typescript-eslint/eslint-plugin
    "prettier/@typescript-eslint", // Uses eslint-config-prettier to disable ESLint rules from @typescript-eslint/eslint-plugin that would conflict with prettier
    "plugin:prettier/recommended" // Enables eslint-plugin-prettier and eslint-config-prettier. This will display prettier errors as ESLint errors. Make sure this is always the last configuration in the extends array.
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "ignorePatterns": [
    "dist"
  ],
  "rules": {
    "linebreak-style": [
      "warn",
      "unix"
    ],
    "dot-notation": "warn",
    "eqeqeq": "warn",
    "curly": [
      "warn",
      "all"
    ],
    "brace-style": [
      "warn"
    ],
    "prefer-arrow-callback": [
      "warn"
    ],
    "no-console": [
      "warn"
    ], // use the provided Homebridge log method instead
    "lines-between-class-members": [
      "warn",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-non-null-assertion": "off"
  },
  "env": {
    "browser": false,
    "node": true
  }
}
